@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
    color: white;
    background-color: #1a1a1a;
}

main {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}
